/*
html {
	background-color: #c9de96;
}
*/

body {
	font-family: Palatino, 'Palatino Linotype', Georgia, serif;
	font-size: 18px;
	font-style: normal;
	color: #555;
	/*
	background: #398235; /* old browsers 
	background: -moz-linear-gradient(top, #398235 1%, #8ab66b 22%, #c9de96 100%);
	/* firefox 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #398235),
		color-stop(22%, #8ab66b), color-stop(100%, #c9de96) ); /* webkit 
	filter: progid :     DXImageTransform.Microsoft.gradient (     
		 startColorstr =  
		  '#398235', endColorstr =     '#c9de96', GradientType =     0 );
		  
	/* ie */
	background-color: #c9de96;
	background-image: url("../images/background.png");
	background-repeat: repeat-x;
	margin: 0;
	height: 100%;
}

.container {
	margin-bottom: 50px;	
}

h3 {
	color: #444;
	margin-bottom: 10px;
}

#header {
	border-bottom: 1px solid #463C3C;
	vertical-align: baseline;
	border-top: 100px;
	padding-top: 100px;
}

#nav {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: right;
}

#nav li {
	display: inline;
	list-style-type: none;
	padding: 0 10px;
	font-family: "Papyrus";
	font-variant: small-caps;
	font-size: 24px;
}

li a,li a:visited {
	font-style: normal;
	text-decoration: none;
	color: #463C3C;
}

li a:hover {
	color: #ccc;
}

#content {
	padding-top: 15px;
	min-height: 500px;
}

#wedding-details {
	font-family: "Papyrus";
	font-size: 25px;
	font-weight: 400;
}

#wedding-details ul {
	list-style: none outside none;
	padding-left: 0;
}

ul.registry-items {
	
}

ul.registry-items li {
	list-style: circle;
	margin-left: 25px;
	margin-bottom: 20px;	
}